@import url('https://fonts.googleapis.com/css?family=Orbitron');
   
 
.jumbotron{
    font-family: 'Orbitron', sans-serif; 
    color: lightslategray;
    margin: 0;
    background: url("../../images/stardust.png");
}

.jumbo-header{
    font-size:  25px;
}

.jumbo-header2{
    font-size:  15px;
}