@import url('https://fonts.googleapis.com/css?family=Orbitron');

nav {
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(56, 56, 56);
    height: auto;
    font-family: 'Orbitron', sans-serif;
  }
  
  a {
    color: #8a825f;
  }
  
  a:hover {
    color: #8a825f;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    /* text-align: center; */
  }
  
  ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
  }